@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-oswald), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  /* Class untuk Typography Outline (Teks Pinggiran) */
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 1.5px #0a0a0a;
  }
  
  /* Class untuk Background subtle cloud/noise pattern */
  .bg-cloud-pattern {
    background-color: #fafafa;
    background-image: 
      radial-gradient(at 20% 20%, hsla(0, 0%, 90%, 0.5) 0px, transparent 40%),
      radial-gradient(at 80% 10%, hsla(0, 0%, 95%, 0.6) 0px, transparent 30%),
      radial-gradient(at 50% 80%, hsla(0, 0%, 92%, 0.4) 0px, transparent 50%);
  }
}
